/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	background: #949396 url(images/body-bg.jpg) no-repeat center top;
	font: Arial, Helvetica, sans-serif;
	color: #666;
}

h1{
	color:#fff;
}

small{
	color:#fff;
}


/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
	text-align: center;
	clear: both;
	color: #000000;
	font-size: 85%;
}
#footer a {
	color: #fff;
}


/************************************************************************************
CONTENT
*************************************************************************************/
#cont{
	background-color: #FFF;
	border-radius: 10px;
	margin:30px 0px;
}

#content-title{
	color: #000000;
	text-align: center;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
	width: 80%;
	margin: 0 auto;
}

/************************************************************************************
VIDEO
*************************************************************************************/
.video,
.video iframe, 
.video object, 
.video embed {
    width: 100%;
}

/************************************************************************************
IMAGES
*************************************************************************************/
img{
	max-width:100%;
}

/************************************************************************************
MAINNAV
*************************************************************************************/
#mainnav{
	background: #000000;
}

/************************************************************************************
HEADER
*************************************************************************************/
.page-header{
	padding-bottom:0px;
}

#siteHeader{
	text-align: center;
	color: #000000
}

