#container
{
	background-color: white;
	background-image: url(background.jpg);
	background-repeat: repeat-y;
	border: 3px solid white;
	background-size: 100%;
}

header
{
	display: block; 
	height: 25%;
}

nav
{
	display: block;
	height: 50px !important;
}

nav a:link {color:yellow;}      /* unvisited link */
nav a:visited {color:#00FF00;}  /* visited link */
nav a:hover {color:#FF00FF;}  /* mouse over link */
nav a:active {color:#0000FF;}  /* selected link */ 
nav font-size: 20;

aside
{
	display: block;
	width: 25% !important; 
}

section
{
	display: block;
	width: 74% !important;
	color: white;
	font-size: 16; 
}

footer
{
	display: block; 
	height: 50px;
	color: white;
	font-size: 20px;
	text-align: center;
}

#h1
{
	color: white;
}

#p
{
	font-family: "Arial";
	color: white;
	font-size: 16px;
}
